---
layout: default
---

<div class="home">
  
  <div class="hero">
    <div class="hero-text">
      Screencasts and tutorials on all things fastlane!
    </div>
    <div class="hero-background">
    </div>
  </div>
  
  <div class="page-content padded-content">
    {% if page.title %}
      <h1 class="page-heading">{{ page.title }}</h1>
    {% endif %}

    {{ content }}

    {% assign episodes = site.posts | where:"layout", "episode" %}

    {% if episodes.size > 0 %}
    <h2 class="post-list-heading">Latest Episode</h2>
    <ul class="post-list">
      {% assign latestPost = episodes.first %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ latestPost.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ latestPost.episode }}: {{ latestPost.title | escape }}</a>
        </h3>
        
        <iframe src="{{ latestPost.video_url }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
      </li>
    </ul>
    
    <h2 class="post-list-heading">Previous Episodes</h2>
    <ul class="post-list">
      {% assign prevPosts = episodes | shift %}
      {% for post in prevPosts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.episode }}: {{ post.title | escape }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

</div>
